<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="netlist" value="netlist.txt"/>
    <add key="netcmd" value="netcmd.txt"/>
    <add key="config" value="config.txt"/>
    <add key="pingtimeout" value="50"/><!--timeout in milliseconds-->
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
